<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="js">
  <script th:src="@{/res/layui/layui.js}"></script>
  <script th:inline="javascript">
    var preUrl = [[${#httpServletRequest.getContextPath()}]];
    var userId = null;
    var $ = null;
    layui.use(['jquery', 'layer'], function () {
      $ = layui.$;
      var layer = layui.layer;
      $.ajaxSetup({
        error: function (xhr, status, error) {
          if (xhr.status == 500) {
            layer.alert('服务器异常', {icon: 2, anim: 6});
            console.log(xhr.responseJSON);
          }
        }
      });
      $.get(preUrl + '/user/login', function (res) {
        if (res) {
          $('cite.layui-hide-xs').html(res.displayName);
          userId = res.id;
          $('.home').attr('href', $('.home').attr('href') + userId);
        }
      })
    });
  </script>
</th:block>
<th:block th:fragment="context">
  <input type="hidden" th:value="${#httpServletRequest.getContextPath()}">
</th:block>
</html>