<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>用户主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/res/css/global.css}">
</head>
<body style="margin-top: 65px;">

<th:block th:include="common/header"></th:block>
<div class="fly-home fly-panel" style="background-image: url();">
  <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
  <!--<i class="iconfont icon-renzheng" title="Fly社区认证"></i>-->
  <h1>
    <!--昵称-->
    <i class="iconfont icon-nan" style="display: none"></i>
    <i class="iconfont icon-nv" style="display: none"></i>
    <!--<i class="layui-badge fly-badge-vip">VIP3</i>-->
    <!--
    <span style="color:#c00;">（管理员）</span>
    <span style="color:#5FB878;">（社区之光）</span>
    <span>（该号已被封）</span>
    -->
  </h1>

  <!--<p style="padding: 10px 0; color: #5FB878;">认证信息：layui 作者</p>-->

  <p class="fly-home-info">
    <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;">66666 飞吻</span>
    <i class="iconfont icon-shijian"></i><span><!--加入时间--></span>
    <i class="iconfont icon-chengshi"></i><span><!--来自哪里--></span>
  </p>

  <p class="fly-home-sign"><!--个性签名--></p>

  <div class="fly-sns" data-user="">
    <!--<a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend">加为好友</a>-->
    <!--<a href="javascript:;" class="layui-btn layui-btn-normal fly-imActive" data-type="chat">发起会话</a>-->
  </div>

</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title" id="publishName"> 最近的发帖</h3>
        <ul class="jie-row" style="min-height: 400px">
          <!--内容-->
          <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;">
            <i style="font-size:14px;">没有发表任何帖子</i>
          </div>
        </ul>
        <div id="topicPage" style="text-align: center"></div>
      </div>
    </div>

    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title" id="replyName"> 最近的回答</h3>
        <ul class="home-jieda" style="min-height: 400px">
          <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回复任何帖子</span></div>
        </ul>
        <div id="replyPage" style="text-align: center"></div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>

<script th:src="@{/res/layui/layui.js}"></script>
<th:block th:include="/common/public::js"></th:block>
<script type="text/html" id="topicTemplate">
  <li>
    <span class="fly-jing">精</span>
    <a href="/topic/detail/" class="jie-title">帖子标题</a>
    <i>时间</i>
    <em class="layui-hide-xs">回复</em>
  </li>
</script>
<script type="text/html" id="replyTemplate">
  <li>
    <p>
      <span>时间</span>
      在<a href="/topic/detail/" target="_blank">帖子标题</a>中回复：
    </p>
    <div class="home-dacontent">
      回复内容
    </div>
  </li>
</script>
<script th:inline="javascript">
  layui.cache.page = 'user';
  layui.cache.user = {
    username: '游客'
    , uid: -1
    , avatar: preUrl + '/res/images/avatar/00.jpg'
    , experience: 83
    , sex: '男'
  };
  layui.config({
    version: "3.0.0"
    , base: preUrl + '/res/mods/'
  }).extend({
    fly: 'index'
  }).use(['fly', 'laypage'], function () {
    var layPage = layui.laypage;
    var userId = [[${userId}]];
    var fly = layui.fly;
    //获取查询的用户
    $.get(preUrl + '/user/' + userId, function (res) {
      if (res.data) {
        $('h1').prepend(res.data.displayName);
        $('.icon-shijian').next().html(res.data.createTime + ' 加入');
        $('.icon-chengshi').next().html('来自' + res.data.city);
        $('#publishName').html(res.data.displayName + ' 最近的发帖');
        $('.fly-home-sign').html(res.data.personSignature);
        $('#replyName').html(res.data.displayName + ' 最近的回复');
        if (res.data.sex == 'MAN') {
          $('.icon-nan').show();
        } else {
          $('.icon-nv').show();
        }
      }
    });
    //  加载提问
    loadTopic(1);
    //加载回复
    loadReply(1);

    function loadTopic(page) {
      $.get(preUrl + '/topic/user/publish/' + userId, {page: page}, function (res) {
        if (res.data.records.length > 0) {
          $('.jie-row').empty();
          topicPage(res.data.total, res.data.current);
          $.each(res.data.records, function (index, obj) {
            var topicTemplate = $($('#topicTemplate').html());
            var title = $('.jie-title', topicTemplate);
            title.html(obj.title);
            title.attr('href', preUrl + title.attr('href') + obj.id);
            $('i', topicTemplate).html(obj.updateTime);
            $('em', topicTemplate).html(obj.replyNum + '回复');
            if (obj.marrow != 'MARROW') {
              $('.fly-jing', topicTemplate).remove();
            }
            $('.jie-row').append(topicTemplate);
          })
        }
      });
    }

    function topicPage(count, curr) {
      layPage.render({
        elem: 'topicPage',
        count: count,
        curr: curr,
        jump: function (obj, first) {
          if (!first) {
            loadTopic(obj.curr);
          }
        }
      });
    }

    function loadReply(page) {
      $.get(preUrl + '/topicReply/user/' + userId, {page: page}, function (res) {
        var list = res.data.records;
        if (list.length > 0) {
          $('.home-jieda').empty();
          replyPage(res.data.total, res.data.current);
          $.each(list, function (index, obj) {
            var replyTemplate = $($('#replyTemplate').html());
            var title = $('a', replyTemplate);
            title.html(obj.topicTitle);
            title.attr('href', preUrl + title.attr('href') + obj.topicId + '?page=' + page + '&replyId=' + obj.id);
            $('span', replyTemplate).html(obj.createTime);
            $('.home-dacontent', replyTemplate).html(fly.content(obj.replyContent));
            $('.home-jieda').append(replyTemplate);
          });
        }
      })
    }

    function replyPage(count, curr) {
      layPage.render({
        elem: 'replyPage',
        count: count,
        curr: curr,
        jump: function (obj, first) {
          if (!first) {
            loadReply(obj.curr);
          }
        }
      });

    }
  });

</script>

</body>
</html>