<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylzinfo.forum.mapper.TopicReplyMapper">
  <select id="getUserReply" resultType="com.ylzinfo.forum.entity.TopicReply">
    select a.id, a.create_time, a.reply_content, a.topic_id, floor(a.num / 10 + 1) page, b.title topicTitle
    from (select a.*, @num := case when @topicId = topic_id then @num + 1 else 0 end num, @topicId := topic_id topicId
          from pm_topic_reply a,
               (select @num := 0, @topicId := '') b
          where user_id = 1
          order by topic_id, adoption, id desc) a
           left join cm_topic b on a.topic_id = b.id
    order by a.id desc
  </select>
  <select id="getReplyPage" resultType="com.ylzinfo.forum.entity.TopicReply">
    select a.*, b.display_name displayName
    from pm_topic_reply a
           left join cm_user b on a.user_id = b.id
    where topic_id = #{topicId}
    order by adoption,id
  </select>
  <select id="getMessage" resultType="com.ylzinfo.forum.entity.TopicReply">
    select a.id, a.user_id, b.title topicTitle, a.topic_id, c.display_name, a.create_time, floor(a.number / 10 + 1) page
    from (select a.*, @rank := case when @topicId = topic_id then @rank + 1 else 0 end number, @topicId := a.topic_id
          from pm_topic_reply a,
               (select @rank := 0, @topicId := '') b
          where user_id != #{userId}
          order by topic_id, adoption, id desc) a
           left join cm_topic b on a.topic_id = b.id
           left join cm_user c on a.user_id = c.id
    order by a.id desc
  </select>
</mapper>