<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylzinfo.forum.mapper.TopicReplyMapper">
  <select id="getUserReply" resultType="com.ylzinfo.forum.entity.TopicReply">
    select a.*, b.title topicTitle
    from pm_topic_reply a
           left join cm_topic b on a.topic_id = b.id
    where a.user_id = #{userId}
  </select>
</mapper>